    <div class="row">
 
        <nav class=" header col-12 navbar navbar-light bg-light" width="100" height="30">
                <a class="navbar" href="/">
                <img src="/images/train.png" width="30" height="30" class="logo" alt="">
                <div class="title">TickeTac</div>
                </a>
                <div class="row ariane">
                    <nav aria-label="breadcrumb" class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Connection</a></li>
                            <li class="breadcrumb-item"><a href="/history">My last Trips</a></li>
                        </ol>
                    </nav>
                </div>
        </nav>

    </div>  
