<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script
      src="https://kit.fontawesome.com/a41e9403cf.js"
      crossorigin="anonymous"
    ></script>
    <title>TickeTac-HomePage</title>
  </head>
  <body>
    <%- include('header'); %>
    <div class="container-fluid d-flex justify-content-center text-light">
      <!-- HEADER-->
      <!-- HEADER-->

      <div class="tickets">
        <h4>Billet aller simple:</h4>
      </div>

      <form class="un">
        <div class="form-row">
          <div class="col mr-2">
            <input
              type="text"
              class="form-control"
              placeholder="From: Paris, Marseille.."
              width=""
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="To: Lille, Nantes.."
            />
          </div>
          <div
            id="date-picker-example"
            class="md-form md-outline input-with-post-icon datepicker"
            inline="true"
          >
            <input
              placeholder="Select date"
              type="date"
              id="example"
              class="form-control"
            />
          </div>
          <button type="button" class="btn btn-danger offset-col-10 ml-3">Go</button>
        </div>
      </form>
    </div>

    <div class="img d-flex justify-content-center offset-lg-1">
      <img src="/images/landmark.png" width="300px" alt="" />
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
