body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  
}
a:hover {
color : red;
}

.title {
  font-size: 2vw ;
  font-family: cursive, sans-serif  ;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}